.card {
    padding:  5px 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.card > p:nth-child(2) {
    display: flex;
    align-items: center;
    color: #797979;
    font-weight: 500;
}